---
interface Props {
  tittle: string;
  artists: string;
  cover: string;
  index: number;
}

const { tittle, artists, cover, index } = Astro.props;
const spawnDelay = `${(index * 0.4).toPrecision(2)}s`;

import AnchorState from "./AnchorState";
import ImageState from "./ImageState";
---

<div
  class=`song-effect flex justify-start items-center gap-4 px-2 py-1 rounded-xl
  bg-cyan-300/10 backdrop-blur-lg
  hover:bg-cyan-300/30
  shadow-2xl opacity-0 animate-fade-in-up`
  style=`animation-delay: ${spawnDelay} ;`
>
  <ImageState client:load cover={cover} tittle={tittle} artists={artists} />

  <div class="flex-col justify-around">
    <AnchorState client:load cover={cover} artists={artists}>
      {tittle}
    </AnchorState>
    <h2 class="text-base text-gray-300">
      {artists}
    </h2>
  </div>
</div>

<style define:vars={{ spawnDelay }}></style>
